*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.galeria{
    background-color: #F0F8FF;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    flex-wrap: wrap;
}
.galeria img{
    max-width: 300px;
    height: 300px;
    cursor: pointer;
    transition: all .5s;
    border-radius: 0.5em;
}
.galeria img:hover{
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}