
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    gap: 12px;
}
